/* write your override styles here */
#wall .tag-1 {
    display:none;
}
#wall div#tag-2 {
    display: none;
}


#wall div.parent div#tag-4{
    display:none;
}

body div#wall div.parent div.slick{
    display:none;
}

#wall .parent #tag-6{
    display:none;
}

#wall .parent #tag-7{
    display:none;
}